body {
    background: #AAAADD;
}

h1 {
    margin-bottom: 0;
}

.title {
    margin-left: 20px;
}

table
{
    width: 90%;
    margin: auto;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

tr:nth-child(even) {
    background-color: #bba;
}

tr:nth-child(odd) {
    background-color: #ffe;
}

pre {
    background-color: #ffffe0;
    display: inline-block;
}
